streamlit
replicate
pdfplumber
python-docx
pandas
transformers
exifread
requests
pillow
numpy
plotly
matplotlib
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
