streamlit
replicate
pdfplumber
python-docx
pandas
transformers
exifread
requests
pillow
numpy
plotly
matplotlib
pdfminer.six>=20251107 # not directly required, pinned by Snyk to avoid a vulnerability
